/* ---- DESIGN SYSTEM ---- */
:root {
  /* Colors  */
  --primary: hsl(25, 97%, 53%);
  --gray: hsl(217, 12%, 63%);
  --gray-dark: hsl(216, 12%, 54%);
  --grey: var(--gray);
  --grey-dark: var(--gray-dark);
  --blue: hsl(213, 19%, 18%);
  --blue-dark: hsl(216, 12%, 8%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --font-size-body: 14px;
  --font-size-heading: 24px;
  --font-primary: 'Overpass', sans-serif;

  /* Spacing */
  --space-100: 8px;
  --space-200: 10px;
  --space-300: 12px;
  --space-400: 16px;
  --space-500: 24px;
  --space-600: 32px;

  /* Border Radius */
  --radius-400: 16px;
  --radius-full: 9999px;

  /* Misc */
  --transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (min-width: 400px) {
  :root {
    /* Typography */
    --font-size-body: 15px;
    --font-size-heading: 32px;

    /* Spacing */
    --space-500: 32px;
  }
}

/* ---- RESET  ---- */
/* (via https://www.joshwcomeau.com/css/custom-css-reset/) */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ---- GLOBALS  ---- */

body {
  display: grid;
  place-content: center;
  padding-inline: var(--space-500);
  background: var(--blue-dark);
  color: var(--gray);
  font-family: var(--font-primary);
  font-size: var(--font-size-body);
  line-height: 1.6;
}

h2 {
  font-size: var(--font-size-heading);
  color: var(--white);
  line-height: 1;
}

button {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: var(--radius-full);
  padding: var(--space-400);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.87px;
  text-align: center;
  background: var(--primary);
  color: var(--white);
  transition: all var(--transition);
  outline: transparent;
}

button:hover {
  background: var(--white);
  color: var(--primary);
}

.stack > * + * {
  --space: var(--space-500);
  margin-block-start: var(--space);
}

.centered {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* ---- SURVEY FORM  ---- */

.card {
  max-width: 412px;
  border-radius: var(--radius-400);
  padding-inline: var(--space-500);
  padding-block: var(--space-500);
  background-image: radial-gradient(ellipse at top, hsl(215, 20%, 17%), hsl(215, 24%, 12%));
}

.form-icon {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-full);
  background: var(--blue);
  display: grid;
  place-content: center;
}

@media (min-width: 400px) {
  .form-icon {
    width: 48px;
    height: 48px;
  }

  .form-icon img {
    width: 18px;
    height: 18px;
  }
}

.survey__scores {
  display: flex;
  justify-content: space-between;
  gap: var(--space-400);
}

.radio-btn {
  position: relative;
}

.radio-btn input {
  position: absolute;
  opacity: 0;
}

.radio-btn span {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  padding: var(--space-300);
  padding-bottom: var(--space-100);
  border-radius: var(--radius-full);
  background: var(--blue);
  color: var(--gray);
  border: 2px solid transparent;
  transition: border var(--transition);
  pointer-events: none;
  font-size: 16px;
}

@media (min-width: 400px) {
  .radio-btn span {
    width: 52px;
    height: 52px;
  }
}

.radio-btn input:focus + span,
.radio-btn input:hover + span {
  background: var(--gray-dark);
  color: var(--white);
}

.radio-btn input:checked + span {
  background: var(--primary);
  color: var(--white);
}

/* ---- CONFIRMATION PAGE  ---- */

.confirmation-icon {
  width: 144px;
  margin-block-start: var(--space-200);
}

#confirmation h2 {
  --space: var(--space-600);
}

.response {
  background: var(--blue);
  color: var(--primary);
  padding: var(--space-300) var(--space-400);
  padding-bottom: var(--space-200);
  line-height: 1;
  border-radius: var(--radius-full);
}

.is-hidden {
  display: none;
}
